* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}
body {
  max-width: 1600px;
}
/* navbber style */
nav {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #412567;
}
.menu {
  display: flex;
  gap: 50px;
}
nav li {
  list-style: none;
  color: #ffffff;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.linear {
  background-image: linear-gradient(28deg, #f7e93f, #fb09b4, #9100f8);
  color: transparent;
  background-clip: text;
}
.Subscribe-btn {
  width: 135px;
  height: 44px;
  color: #ffffff;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(28deg, #f7e93f, #fb09b4, #9100f8);
}
.menu-icon {
  display: none;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
}
/* navbber style end */

/* banner section style */
.banner-container {
  height: 760px;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-content {
  padding-top: 100px;
  text-align: center;
}
.circle-icon {
  position: relative;
}
.micro-icon {
  position: absolute;
  bottom: 5px;
}
.new-badge {
  position: absolute;
  background-color: #00ff88;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  color: #1a0b2e;
  box-shadow: 1px 2px 2px 1px #00ff8857;
}
.banner-heading {
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
  padding-top: 40px;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 24px;
}
.spotify-btn {
  width: 200px;
  height: 44px;
  background-image: linear-gradient(28deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 24px;
}
.subscribe {
  color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 40px;
  width: 147px;
  height: 44px;
  background-color: #40256700;
  margin-bottom: 100px;
}


/* About section style */
.about-container{
    width: 1600px;
    height: 646px;
    background-color:#1A0B2E ;
    text-align: center;
    padding-top: 50px;
}
.about-hedlin{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.about-description{
    font-size: 16px;
    font-weight: 400;
    color: #7c7979;
    margin-top: 20px;
    line-height: 1.5;
}
.about-description-1{
    font-size: 16px;
    font-weight: 400;
    color: #7e7d7d;
    margin-top: 20px;
    line-height: 1.5;;
}
.outlin{
    border: 1px solid rgba(49, 48, 48, 0.452);
    width: 1200px;
    margin: 80px auto;
}
.about-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card-info{
    font-size: 2.5rem;
    font-weight: bold;
    color: #00FF88;
}
.card-headlin{
    color: #c4c0c0;
    font-size: 1rem;
    font-weight: 200;

}
.fa-solid{
    font-size: 40px;
    font-weight: 300;
}




/* choose section style */
.choose-container{
    width: 1600px;
    height: 1121px;
    background-color: #200d3a;
    
}
.choose-card{
    padding: 2rem;
    border-radius: 30px;
}
.choose-headlin{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 16px;
    
}
.coose-hedlin{
    text-align: center;
    padding: 100px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.choose-description{
    color: #6b6a6a;
    padding-top: 16px;
}
.choose-content{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.choose-card{
    background-color: #351165c5;
}
#box-1{
    grid-row: span 2;
    
}
#box-2{
    grid-column:  span 2;
}
#box-3{
    grid-column:  span 2;
}
#box-4{
    grid-column: span 2;
    height: 250px;
}
#box-5{
    grid-column: span 1;
    height: 250px;
}



@media screen and (max-width: 576px) {
  body {
    width: 440px;
  }
  nav {
    width: 440px;
    height: 60px;
  }
  .logo {
    font-size: 24px;
  }
  .menu {
    display: none;
  }
  .Subscribe-btn {
    display: none;
  }
  .menu-icon {
    display: block;
  }


  /* banner section */
  .banner-container{
    width: 440px;
    height: 466px;
  }
  .circle{
    width: 150px;
    height: 150px;
  }
  .micro-icon{
    width: 46.67px;
    height: 70px;
  }
  .new-badge{
    font-size: 8px;
  }
  .banner-heading{
    font-size: 30px;
  }
  .banner-description{
    font-size: 8px;
  }
  .spotify-btn{
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
  .icon1{
    display: none;
  }
  .subscribe{
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
  .icon1{
    display: none;
  }
  .icon2{
    display: none;
  }



/* about section */
   .about-container{
     width: 440px;
   }
   .about-hedlin{
    font-size: 28px;
   }
   .about-description{
    font-size: 8px;
   }
   .about-description-1{
    font-size: 8px;
   }
   .outlin{
    width: 380px;
   }
   .about-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 */
    gap: 30px;
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
  }

  .card-info{
    font-size: 1.8rem; 
    text-align: center;
  }

  .card-headlin{
    font-size: 0.85rem;
    text-align: center;
  }



  /* choose section */
  .choose-container{
    width: 440px;
    height: 1450px;
    
  }
  .coose-hedlin{
    font-size: 23px;
  }
   .choose-headlin{
    font-size: 28px;
    padding: 50px 20px;
  }

  .choose-content{
    grid-template-columns: 1fr;
  }
  .choose-card{
    padding: 16px;
  }
  .choose-description{
    padding-top: 5px;
}
#box-1{
    width: 400px;
    height: 200px;
}
#box-2{
    width: 400px;
    height: 200px;
}
#box-3{
    width: 400px;
    height: 200px;
}
#box-4{
    width: 400px;
    height: 200px;
}
#box-5{
    width: 400px;
    height: 200px;
}
.choose-headlin{
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
    
}
.choose-description{
    font-size: 10px;
    padding-top: 6px;

 
}
}