*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}
body{
    max-width: 1600px;
}
/* navbber style */
nav{
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
}
.menu{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
    color: #ffffff;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}
.linear{
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}
.Subscribe-btn{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
}
.menu-icon{
    display: none;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}




@media screen and (max-width:576px) {
    body{
        width: 440px;
    }
    nav{
       width: 440px;
       height: 60px;
       
        
    }
    .logo{
        font-size: 24px;
    }
    .menu{
        display: none;
    }
    .Subscribe-btn{
       display: none;
    }
    .menu-icon{
        display: block;
    }
}